{% extends 'base.html.twig' %}

{% block title %}Créer un utilisateur{% endblock %}

{% block body %}
    <h1>Créer un utilisateur</h1>

    {{ form_start(form) }}
        <div class="mb-3">
            {{ form_label(form.email) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.email) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.nom) }}
            {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.nom) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.role) }}
            {{ form_widget(form.role, {'attr': {'class': 'form-select'}}) }}
            {{ form_errors(form.role) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.password) }}
            {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.password) }}
        </div>

        <button class="btn btn-success">Créer</button>
        <a href="{{ path('app_user_index') }}" class="btn btn-secondary ms-2">Annuler</a>
    {{ form_end(form) }}
{% endblock %}
